{{ define "main" }}
	    {{ range .Paginator.Pages.GroupBy "Type" }}
	<ul id="post-list">
		<header class="page-header">
	    <h1>{{ .Key }}</h1>
		</header>
	    {{ range .Pages }}
		<article class="post-entry" >
		<figure class="entry-cover">
			<img loading="lazy" src="{{ .Params.image }}" alt="">
		</figure>
		</figure>
		<header>
			<h2 class="entry-hint-parent" >
				{{ .LinkTitle }}
			</h2>
		</header>
		<div class="entry-content">
			{{ .Description | markdownify }}
		{{ if .Params.slides_url }}
		</br>
			<a style="box-shadow: 0 1px;" target="_blank" href="{{ .Params.slides_url }}">Slides</a>
		{{ end }}
		{{ if .Params.recording_url }}
		and	<a style="box-shadow: 0 1px;" target="_blank" href="{{ .Params.recording_url }}">Recording</a>
		{{ end }}
		</div>
		<footer class="entry-footer">
			{{ .Date.Format "Jan 2 2006" }}
		</footer>
			<a href='{{ .Params.external_url }}'></a>
		</article>
	    {{ end }}
	</ul>
	<br/>
	<br/>
	    {{ end }}
{{ end }}